extends layout

block content
  h1= Welkom 
  p Deze app is de Educatie Team Manager (ETM). Met deze site kun je
    ul 
      li Berichten posten 
      li Opdrachten plaatsen 
      li Bestanden plaatsen 
  p naar verschillende teams gelijktijdig.
  p Deze site is toegankelijk voor docenten, daarnaast moet je lid zijn van het team ETM kun je meedenken met de ontwikkeling van de app en hulp krijgen bij het gebruik.
  p Toegang tot het team ETM staat open voor iedereen. Gezien de aard van onze Teams inrichting zul je lidmaatschap wel aan moeten vragen. Dit kun je doen via de link: 
    a(href='https://teams.microsoft.com/l/team/19%3a3PEOFm___b0wW2wahC72fhUaloa-H-VNM4dXdR-eQRY1%40thread.tacv2/conversations?groupId=e93ab8b9-ba07-4b0b-80a8-c7eeb70e7d37&tenantId=dcf79e11-dd92-44c3-881f-3c407591ab4a') Lidmaarschap aanvragen
