extends layout

block content
    #list_header.pagepart
    #send_message.pagepart
        form#sendMessage(action="")
            input(type="text", name="message", value="is dit een kaart?")
            input(type="submit", value="Stuur") 
    #team_list.pagepart
        h2 Team waar je lid van bent.
        #teamList
            h3 De lijst wordt momenteel geladen
    #team_renew.pagepart 
        input#reloadTeams(type="button", value="Teams laden")
    <script src="/javascripts/teams.js"></script>
