body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  flex: 2;
}

li.h_menu {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}
